<%= form_with(model: blog_post, class: "contents", data: {controller: "blog-form", blog_form_target: "formContainer"}) do |form| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>
      <ul>
        <% blog_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5" >
    <%= form.label :author %>
    <%= form.text_field :author, data: {action: "input->blog-form#handleChange", blog_form_target: "authorName"}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <div class="flex flex-col gap-2">
      <span class="text-red-500 hidden" data-blog-form-target="authorBlank">
        Author name can't be blank
      </span>
      <span class="text-red-500 hidden" data-blog-form-target="authorLimitExceeded">
        Author name can't exceed more than 10 characters
      </span>
      <span class="text-red-500 hidden" data-blog-form-target="authorSpecialChar">
        Author name should not have any special characters
      </span>
    </div>
  </div>
  <div class="my-5">
    <%= form.label :content %>
    <%= form.text_area :content, data: {action: "input->blog-form#handleChange", blog_form_target: "blogContent"}, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <div class="flex flex-col gap-2">
      <span class="text-red-500 hidden" data-blog-form-target="contentBlank">
        Content can't be blank
      </span>
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
